.container-fluid
  .row.donate-block
    .col-xs-12
      %h3 Thank you for supporting BikeDeed!
    .select-amount
      - if @payment.is_donation
        %p
          Your donation of $#{@payment.amount} just saved the bikes.
        %p.padded
          XOXO,
          %br
          BikeDeed team
      - else
        %p
          We received your payment of $#{@payment.amount}